.container {
    width: 500px;
    background-color: aqua;
    height: 500px;
}

/* hasta max-widht */
/* @media screen and (max-width: 768px){
    .container{
        width: 100px;
        display: none; 
        visibility: hidden;
    }
} */

/* desde min-widht */
@media screen and (min-width: 768px){
    .container{
        width: 100px;
    }
}